[2014-12-01 14:41] benoist opened #5 "Depend on user input"
Hi,

I've had a look at your workflow gem. It looks really clean and neat.
I do have a question about depending on user input. I've got some workflows that require user input in the middle of the flow. Is there any way to specify in the workflow, that an external update is required?
I understand that this requires me to explicitly push the object in de workflow to the next state after the user inp

[2015-04-25 13:02] pokonski commented on #5
Well, that would be a good way and can be done already in the current state of Gush.

[2015-05-17 17:20] gregory opened #6 "include modules instead of inheritance."
Hey,

This looks pretty cool. One improvement would be to include modules to decorate the classes instead of using inheritance.
Here is what i have in mind:

[code]

[code]

what do you think?

[2015-05-17 18:49] pokonski commented on #6
What benefits do you have in mind when using this approach?
On May 17, 2015 7:20 PM, "Grégory Horion" <notifications@github.com> wrote:

[2015-05-18 00:02] gregory commented on #6
Using inheritance is a constraint that force me the have classes that **are**  Gush::Workflow or Gush::Job and nothing else, where in practice, it's not always the case.

In the following example, i have my `SignupWorkflow` that already inherit from a class. Of course, i do not want to make ClassA to inherit from Gush::Workflow cause it is not. In this simple case, how could i make SignupWorkflow

[2015-05-18 07:47] pokonski commented on #6
Good example, I can and will change it to `include` :+1:

[2015-05-18 16:26] pokonski commented on #6
Also the block `gush do` doesn't really add anything beside pointless complexity.

[2015-05-18 16:35] mlen commented on #6
@gregory the only purpose for `*Workflow` classes is to provide a DSL for workflows and they're never meant to be instantiated by the users. Look at the DSL that rack uses for configuration. Did you ever need to customize the way how rack apps are configured?

Using custom subclasses for `Job`s makes more sense, but I can't see why would it be better than something like this:
[code]

[2015-05-19 01:41] gregory commented on #6
@pokonski  for the `gush do ` i actually meant to avoid using `#configure`  to avoid method name conflict with a class that would have that method already defined...

This doesnt makes sens to you?

[code]

@mlen If this is a DSL, why should that be nested in a configure method? The DSL should be enough right?

[code]
=> Now you are forcing me into your architecture style.
That would mean that in

[2015-05-21 23:37] xtagon opened #8 "Detailed job status?"
Hi,

I use Sidekiq workers already, but Gush appeals to me because Sidekiq doesn't have a way to define such workflows/dependencies. Since Gush "just uses Sidekiq" is it compatible with Sidekiq plugins? Specifically, I would like a way to track progress/status of jobs. Let's say I have a job that is going to process 100 files, I would like to be able to add logic into my process method to count ho

[2015-05-22 05:11] pokonski commented on #8
Hi, Justin.

Do you have any particular plugin on your mind? We could always test it :)
On May 22, 2015 1:37 AM, "Justin Workman" <notifications@github.com> wrote:

[2015-05-22 09:51] romanbsd opened #9 "Possible race condition?"
I read the code, and couldn't figure out, how you handle a race condition when job C is dependent on jobs A and B which finish at the same time.

[2015-05-22 09:57] pokonski commented on #9
Are you able to reproduce the issue? A sample code which fails would be helpful. I tested with hundreds of thousands jobs running in parallel (empty jobs to make sure they run at the same time), but the issue never occurred.

Every job has a key in Redis, after the job finishes it gets marked in that key.
When A finishes, it marks itself as finished and checks if there are any child jobs with sati

[2015-05-22 09:58] romanbsd commented on #9
No, it's a completely theoretical question. I'm still wondering what would happen if they finish at precisely the same time.

[2015-05-22 09:59] pokonski commented on #9
If they do finished at precisely the same time, then it is possible.

That said, I probably should add some mutex to job enqueuing to make sure they don't get enqueued twice. :+1:

Thanks for bringing this up :)

[2015-05-23 05:22] xtagon commented on #8
[sidekiq-status](https://github.com/utgarda/sidekiq-status) has almost all of the features I would need. I'll try to test it with Gush next week.

[2015-05-27 17:52] stevenharman commented on #5
What about user input to even start the job? e.g., say I wanted to start a whole workflow to publish a book... I'd need to know what book to even publish. How would I pass that into the workflow?

[2015-05-27 17:53] pokonski commented on #5
@stevenharman good point. That's what I'm working on now. Passing arguments to workflow, from which you can customize dependencies and pass more arguments down the line.

Will ping you once I push those changes :)

[2015-06-04 07:51] pokonski commented on #5
@stevenharman took a bit, but the workflows with arguments are now on `master` :)

Check it out and I'd love to hear some feedback :point_right:  https://github.com/pokonski/gush#passing-arguments-to-workflows

[2015-06-04 14:07] stevenharman commented on #5
@pokonski Looking good! Thanks!

[2015-06-04 14:08] stevenharman opened #10 "Use keyword arguments rather than positional arguments."
One thing that might make this library a bit easier to use would be keyword arguments to configure a Workflow, rather than positional arguments.  A quick look at the code suggests this is already doable (as the arguments are being collected by `*` and splatted back out when passing them along. So maybe just a tweak or mention in the README?

Thoughts?

[2015-06-04 15:18] pokonski commented on #10
Yeah, I have no prefeference on that, since jobs have params which are a Hash. So Maybe a regular hash for both?

[2015-06-04 15:28] stevenharman commented on #10
Oh? I've found them **super** nice since Ruby 2.1 where we have required and optional keyword args.

At any rate... I think (but have not verified) that they'll _Just Work :tm:_ as is.

[2015-06-04 15:28] #10 closed

[2015-06-04 17:58] pokonski commented on #10
Oh, maybe I have an outdated bad impression from Ruby 2.0 :+1: Will check them out.

[2015-07-22 08:06] andrea-spoldi opened #11 "first tryout, can't start Gush server"
Hi,
 I'm trying Gush out for the first time, followed the Readme but either with Rails app or simple Ruby I got this message when running "bundle exec gush workers"

/var/lib/gems/2.0.0/gems/gush-0.1.1/lib/gush/cli.rb:134:in `load_gushfile': undefined method `exist?' for nil:NilClass (NoMethodError)

my Gushfile.rb is in the root of my project, even though with Rails app it shouldn't be necessary

[2015-07-22 09:24] pokonski commented on #11
Hi Andrea,

sorry about the confusion in Readme. Gush is not yet autoloading files when in Rails app.

That said I fixed your bug in 0.1.2 which I just pushed to Rubygems. Can you try it now?

[2015-07-22 09:58] andrea-spoldi commented on #11
Hi @pokonski  thanks for prompt reply
I did updated my bundle, now that error is gone but I still cannot run it :

/usr/lib/ruby/2.0.0/pathname.rb:389:in `initialize': no implicit conversion of nil into String (TypeError)
	from /usr/lib/ruby/2.0.0/pathname.rb:389:in `new'
	from /usr/lib/ruby/2.0.0/pathname.rb:389:in `join'
	from /var/lib/gems/2.0.0/gems/gush-0.1.2/lib/gush/cli.rb:129:in `gushfile'

[2015-07-22 10:03] pokonski commented on #11
Thanks for the stacktrace, I will inspect on my existing projects and try to recreate it. Then get back to you :)

[2015-07-22 20:35] andrea-spoldi commented on #11
@pokonski I think I've managed to move on...
had to specify "-f <path to gushfile.rb>"

so it becomes :
bundle exec gush workers -f ./Gushfile.rb

I got other errors there but I think I can manage it...
I suppose Readme should be slightly improved ;)

[2015-07-27 14:46] #11 closed

[2015-09-16 11:37] #5 closed

[2015-11-15 17:22] #9 closed

[2015-11-15 17:23] pokonski commented on #9
Closing as this wasn't actually spotted in actual apps using Gush.

[2015-11-15 17:24] pokonski commented on #8
For anyone interested, there's https://github.com/chaps-io/gush-control which adds `gush server` command that runs Web UI with details about running and finished workflows :)

[2015-11-22 06:40] alucardpj opened #15 "sidekiq gem dependency"
4.x sidekiq has released, but up till now in gush's gem dependency:
sidekiq '~> 3.3.4'

can gush update the dependency?

[2015-11-22 09:51] pokonski commented on #15
Hi @alucardpj! I just released `0.3` version with sidekiq bumped to `4.0`. Thanks for reporting! :+1:

[2015-11-22 09:51] #15 closed

[2015-11-22 09:51] #8 closed

[2015-11-22 20:40] jalberto commented on #11
Whats the recommended way to run Gush in a Rails (api) project?

I'm trying:

[code]

But is not working properly, every job just faill on start (but works as regular sidekiq worker)

[2015-11-22 20:51] jalberto opened #16 "Not able to access Rails project classes in jobs"
Whats the recommended way to run Gush in a Rails (api) project?

I'm trying:

[code]

But is not working properly, every job just fail on start because I'm using clasess of my rails proj in the jobs (like Services or Models).

Stack:
- rails 5 (master) api
- sidekiq 4

Any suggestion?

[2015-11-23 08:27] pokonski commented on #16
Can you try the way sidekiq does it:

[code]
?

where `options[:require]` is the path to your app.

[2015-11-23 13:52] ferusinfo opened #17 "Logging the jobs"
Hey - is there any way to log some things in  jobs/workflow by integrating with Sidekiq logger method? I'd like to save some information while performing the tasks.

[2015-11-23 13:56] pokonski commented on #17
You should be able to use the logger by accessing `Sidekiq.logger` inside your jobs.

[code]

[2015-11-23 14:03] ferusinfo commented on #17
Works like a charm - would you be so nice and add the `logger` property to the Job class itself or should I  make a pull request on this?

[2015-11-23 14:04] pokonski commented on #17
Sure, I can add it :+1:

[2015-11-23 14:09] ferusinfo opened #18 "Error handling"
How the Gush is handling (or not) errors that might occur in a `Job` class? I've tried to use `raise`, but all of the tasks has passed without and error - nothing has showed up either in Sidekiq or Workflow (the `flow.status` is returning `:running`)

Is there any way to integrate Gush with Sidekiq worker handling? Or it is too complicated?

[2015-11-23 14:10] ferusinfo commented on #17
Thanks. Great job, by the way!
I've moved from pure Sidekiq to your solution in less than 15 minutes - the only problem I have is the logging and https://github.com/chaps-io/gush/issues/18

[2015-11-23 14:12] pokonski commented on #18
Right now Gush captures all exceptions to internally mark jobs as failed without raising them further to Sidekiq. So as far as Sidekiq is concerned all jobs succeed. This turned out to be rather annoying for developers.

This will change in the 1.0.0 version I plan on releasing Soon(TM).

[2015-11-23 14:13] pokonski commented on #17
Glad to hear it, that was the aim :dancer:

[2015-11-23 14:14] ferusinfo commented on #18
What is the estimated ETA for the 1.0.0 version? Happy to cooperate, too.
Also, the problem that I've found so far is that even after the `flow.reload` the failed workflow is still returning `:running` on the `flow.status` method.

[2015-11-23 14:15] pokonski commented on #18
If everything goes right, this week :)

Hm, it should not be marked as returning. Can you create a separate issue for this?

[2015-11-23 14:16] ferusinfo commented on #18
Sure, let me do this in a second.

[2015-11-23 14:25] ferusinfo opened #19 "Wrong workflow status after failed jobs"
Currently if any jobs will fail (by throwing an exception in a job), the status of the workflow is not properly updated:
- `flow.status` is returning `:running`
- `flow.failed?` is returning `false`

[2015-11-23 14:26] pokonski commented on #19
Can you confirm this happens even after reloading the workflow as described here? https://github.com/chaps-io/gush#in-ruby

[2015-11-23 14:27] ferusinfo opened #20 "Handling workflow failures"
It would be nice to have a callback method of some sort if the workflow would fail at some point - that would help implementing error logging/reporting (sending a webhook of some sort on fail as an example).

[2015-11-23 14:32] ferusinfo commented on #19
Yes, I can confirm that `flow.reload` isn't changing the status.

[2015-11-23 14:33] pokonski commented on #19
Alright, marking as a bug and consulting my :8ball: to find the issue :D

[2015-11-23 14:34] ferusinfo commented on #19
Great to hear that, I will try to find it myself as well by reading the source.

[2015-11-23 15:56] ferusinfo opened #21 "Multiple jobs with the same class name"
Hey,
I need to run the same jobs with different parameters, but I have occured a strange behaviour - when I set the `run` function with the same name, only the last one of the jobs is being fired, the other ones does not.

This is also affecting the `after:` option, as it is checking if all jobs with given name has been fired. Simple workflow example:

[code]

Can you clarify on this matter? It is

[2015-11-23 16:00] ferusinfo commented on #21
I guess this line in `client.rb` file is the issue here:

[code]

[2015-11-23 16:01] pokonski commented on #21
Yeah, this wasn't a feature I needed in Gush when I developed it, but I can have a look. It should probably generate UUIDs for jobs, instead of relying on their (not unique as it turns out) names.

[2015-11-23 17:06] ferusinfo commented on #21
I've changed some lines in the code and I almost got it working based on UUIDs, but changing the tests specs is not something that I like very much..

[2015-11-23 18:24] ferusinfo commented on #21
I've been able to come to this: https://github.com/ferusinfo/gush/commits/unique_node_names - the only issue that I am having now is that redis isn't persisting all the jobs created in a queue (getting a workflow through new instance of `Gush::Client.new` is dropping some jobs.

[2015-11-23 20:28] jalberto commented on #16
Thanks for the suggestion, but I have same result :(

I also tried several variants requiring environment.rb (to your suggestion and to mine) but somethign weird happens then, The jobs are enqueded (I can see after reload it) but the gush workers are not triggered.

This is really blocking me to use gush.

Something I don't understand is, if gush jobs run inside a sidekiq worker, and sidekiq worke

[2015-11-23 20:39] jalberto commented on #16
For the record:

I tried to mimic the way binstubs works, bin/bundle, bin/rake, etc. have slight different ways to work, but none worked for me

[2015-11-27 11:35] ferusinfo commented on #17
I think that this can be closed.

[2015-11-28 15:51] pokonski commented on #20
I pushed a change which raises errors after marking jobs as failed, so Sidekiq can retry them. If you can have a look, that be perfect :)

[2015-11-28 15:51] pokonski commented on #18
I pushed a change which raises errors after marking jobs as failed, so Sidekiq can retry them. If you can have a look, that be perfect :)

[2015-11-28 15:52] #17 closed

[2015-11-28 17:28] pokonski commented on #19
@ferusinfo I pushed a fix and a spec for your case. Have a look at master :)

[2015-11-28 17:40] ferusinfo commented on #19
I will look into this later - but so far so good! :+1:

[2015-11-29 20:35] ferusinfo commented on #21
So now, when you merged the changes, is there any way to add me to the contributors section?

[2015-11-30 08:35] pokonski commented on #21
Sure :)

[2015-12-17 19:50] akshayrawat opened #24 "Processing job sequentially"
Is it possible to process jobs sequentially, based on arguments?

__Example jobs:__

Jobs: `[User A, Operation A]`, `[User B, Operation B]`, `[User A, Operation C]`, `[User B, Operation D]`, .. stream of jobs

Process all jobs of each user sequentially, but concurrently across users.

__Example:__

1. Sequentially execute all jobs for User A: Operation A, Operation C
2. Sequentially execute all jo

[2015-12-22 18:57] pokonski commented on #24
Hi @akshayrawat, one way would be to dynamically generate subgraphs inside the Workflow `configure` method, like this:

[code]

`run` returns the id of the registered job so you can use it later on. Haven't done that yet, but should be doable :)

[2016-01-21 00:27] ferusinfo commented on #24
@akshayrawat, as @pokonski suggested, the solution is quite simple and I can confirm it is working in my production workflows (I am processing the jobs sequentially and after all of them I generate a status report that is triggering a Slack Webhook).

[2016-01-21 00:45] #24 closed

[2016-01-27 16:59] neovintage opened #26 "Running Workflow Inside of Workflow"
Is it possible to run a workflow inside of a workflow?

I have a couple of Jobs that run in sequential order but then I have a step where I can fan out to multiple workers. The problem is I don't know the number of workers I need ahead of time in that parallel step and I need to bring them all back together in one step before continuing in the workflow. I've gone through the code and I feel like I

[2016-01-27 17:02] pokonski commented on #26
Hi, @neovintage!

Right now Gush doesn't have that functionality of nesting workflows. But it's our number one priority on the list of features, as that would be useful also for us internally.

Hackish way at the moment would be making a job that starts a different workflow and polls its status until it finishes (or fails).

[2016-01-27 17:51] neovintage commented on #26
I had a feeling that was the case. I wish I had more time to build that functionality in myself. I can't wait to see this enhancement. :-)

Thanks for getting back to me so quickly.

[2016-02-05 19:37] maia opened #27 "running unique jobs?"
This is more of a question than an issue, but after reading the [announcement](http://blog.chaps.io/2016/02/01/running-concurrent-workflows-in-ruby.html) I'm very excited about the option of using gush:

1) Is it possible to enforce jobs only being run once (for a certain amount of time), similar to the "unique jobs" feature in Sidekiq Enterprise?

Here's an example of my use case: my app parses a

[2016-02-08 16:57] pokonski commented on #27
1) what you are describing isn't a use case Gush was created for. You should preprocess that batch of tweets before and then extract unique URLs from them. Only after that, process them in parallel.

2) yes, second one is related to #26. Additionally you can look up dynamically adding jobs in the workflow: https://github.com/chaps-io/gush/issues/24#issuecomment-166703156

Do share an example if yo

[2016-02-09 17:05] hunzinker commented on #26
I have a somewhat related question...

Is it possible for a job to enqueue n number of jobs in a workflow?

Hypothetical example:
[code]

[2016-02-09 17:34] pokonski commented on #26
@hunzinker you can do that, but not from inside of the Job, but in `configure` method of the workflow, see: https://github.com/chaps-io/gush/issues/24#issuecomment-166703156

[2016-02-09 18:02] hunzinker commented on #26
Thanks for the quick reply! I think I'm missing something else. After trying the below, `ReduceNumbersJob` is run after the first `FindNumberJob` finishes which is not desired. Is it possible for `ReduceNumbersJob` to run after all `FindNumberJob`s finish?

[code]

[2016-02-09 18:05] pokonski commented on #26
Each `run` call returns a job `id` you can use for later scheduling, you need a map to get all the ids and the use that array in `after:` attribute:

[code]

[2016-02-09 18:11] hunzinker commented on #26
Ha! I just tried that and it worked. Thanks!

[2016-02-09 18:40] pokonski commented on #26
Awesome :)

[2016-02-17 22:49] spike886 opened #29 "It breaks when you use a workflow with parameters"
If you create a workflow with parameters, it breaks with it's trying to load the workflow on a client

[2016-02-18 10:24] #29 closed

[2016-02-26 11:00] badlamer commented on #16
And  I have same result :(

Rails 4.2.5

[2016-03-24 08:54] kakoni commented on #16
This should work with rails >= 4 , adjust those requires accordingly
[code]

[2016-03-24 09:02] kakoni opened #32 "Scheduling"
So is scheduling/periodic workflows/jobs something that might be inside gush or should one look into rufus etc to implement it?

[2016-03-24 09:04] ferusinfo commented on #32
For scheduling everyday tasks I recommend the https://github.com/tomykaira/clockwork gem.
Gush is a workflow manager, not scheduler, IMHO.

[2016-03-24 09:56] pokonski commented on #32
@ferusinfo is right. This is not the scope of Gush. You can use another scheduling tool to execute your Gush workflows :)

[2016-03-24 09:56] #32 closed

[2016-05-31 17:10] joshjordan commented on #21
@ferusinfo how would I do this if the number of jobs is variable? What if it looked like this, from your example?

[code]

[2016-06-02 17:43] pokonski commented on #21
@joshjordan use map to collect all the ids that each `run` returns and pass them to `after:` option

[2016-08-23 02:28] cabello opened #34 "Redis connection pool investigation"
We are trying to use Gush in production and we are constantly gettingthe number of connections exhausted.

If we run 2 workflows that fires ~5 workers each, everything run fine.
If we run 3 workflows, then we hit the connections limit.

I wonder if there is a easy way to calculate how many connections are needed, If I try to run a few thousand workflows, do I need concurrency + constant factor, fo

[2016-08-23 07:02] pokonski commented on #34
Hi @cabello! Thanks for reporting the issue, I didn't encounter it myself though I was running hundreds of workflows at the same time.

This sounds like a bug so I'll try to reproduce, can you share your redis settings?

[2016-08-23 08:01] pokonski commented on #34
Alrighty, I think I got the issue. I modified the code to use ConnectionPool sidekiq uses so that should drastically reduce the number of Redis connections.

I released version `0.3.3`, can you try and report back?

[2016-08-23 12:20] cabello commented on #34
Hi @pokonski thanks for the quick fix, I am trying to use the gem and there is also a version 0.4.0 should 0.4.1 be released instead? https://rubygems.org/gems/gush/versions/0.4

[2016-08-23 12:27] pokonski commented on #34
You are right, not sure how I missed the numbering, I'll release 0.4.1 :)

[2016-08-23 12:32] pokonski commented on #34
@cabello 0.4.1 released, have a go!

[2016-08-23 14:35] carlthuringer commented on #18
Even though the job raises an error, the configuration says retries: false. This will cause sidekiq to discard the job immediately.

https://github.com/mperham/sidekiq/wiki/Error-Handling#configuration

For jobs that fail due to transient issues, like being unable to obtain a database connection, this causes the workflow to stall in an unrecoverable way. It's not possible to reload and continue th

[2016-08-23 14:37] pokonski commented on #18
@carlthuringer what kind of exception are you getting? Gush catches those itself before Sidekiq does and allows retries for the users of Gush (either via CLI or the web gui)

[2016-08-23 15:46] ThePeiggy commented on #34
@pokonski Hey! Thanks for this change.

I noticed that the new version isn't on RubyGems yet: https://rubygems.org/gems/gush

[2016-08-23 15:48] pokonski commented on #34
Duh, my bad. It is now :dash:

[2016-08-23 16:05] carlthuringer opened #35 "Gush falls down under large-scale workflows"
Hi, I was super excited to integrate gush into my latest project, but just towards the end I hit a wall and cannot proceed any further.

The basis for my issue is twofold; Gush#configure must be deterministic because it runs on every job setup, and when a workflow has thousands of jobs, execution becomes so slow as to defeat the benefit of parallelism.

My gush workflow has ~4000 jobs, and the dep

[2016-08-23 16:08] pokonski commented on #35
Hi @carlthuringer! That is indeed an extreme case. Do you have 4k unique job classes or are you generating those dynamically? This sounds more like you need simpler batching and/or splitting into smaller workflows.

[2016-08-23 17:12] carlthuringer commented on #18
I think I determined my issue. I was expecting `Workflow#reload` to actually replace/rebuild the instance, but instead it just returns the loaded instance, so to get a proper status update and continue, you have to `flow = flow.reload; flow.continue`.

[2016-08-23 17:22] carlthuringer commented on #35
The workflow I'm attempting to orchestrate is a "Seeding" workflow. Just imagine a typical rails monolith riddled with vast and complex belongs_to and has_many relationships, and you'll have some idea what I'm trying to produce.

Generating all the data in one shot is unreliable and time-consuming. There's no way I can do it in a transaction, so logically the next step is to break it down into ide

[2016-08-23 23:59] cabello commented on #34
It's much better now we are still running on Redis connection limits, I plan on working on an example so we can investigate together soon.

[2016-08-24 12:32] pokonski commented on #35
Thanks for the detailed explanation. There are ways to improve storing the state I will explore. My colleague here at Chaps suggested some good ideas which we will try to implement as the current one is rather naive (we never expected such large workflows :) )

Stay tuned!

[2016-08-25 16:23] pokonski commented on #34
Great, I'd love to see an snippet I can reproduce and base our fixes on :)

[2016-08-27 19:12] cabello commented on #34
I think I got a reasonable example, here it goes.

First stop your redis server and restart it with low client limit: `redis-server --maxclients 50` then start sidekiq and gush.

Then build an example workflow like this one:
[code]

Now with lots (a few thousand) of clients & accounts in the database, open a console and run:
[code]

Gush will hit the connection limit very quickly. When I was runni

[2016-08-27 20:51] pokonski commented on #34
Thanks for the detailed analysis! I'll have a deeper look into that :+1:

[2016-10-22 16:44] bolshakov commented on #18
@pokonsky in case of unavailability of external service I'd prefer to reschedule work later, rather than retry it immediately. Sidekiq has exelant tools addressing such issues - exponential delay before each retry, and callback called after all retries exhausted.

It would be great to support these features in gush.

[2016-10-22 20:13] pokonski commented on #18
@bolshakov agreed, I'm actually considering letting them fail instead so sidekiq can handle that.

[2017-03-15 23:16] steveburkett opened #36 "unable to run"
hi there, noob question.

I have set up gush inside my rails4 project.  I attempt to start! (3 times), but i the workflow seems stuck in :running, and i'm not sure what's happening with it.

(1) set up test workflow (below).
(2) I started the 'be gush workers' (and i see sidekiq started with the 'gush' queue)
(3) in a rails console, i
[code]

[code]

[code]

[code]

[code]

[2017-03-16 12:51] pokonski commented on #36
https://github.com/chaps-io/gush/blob/master/README.md#2-start-workflow

you didn't start worker process to actually run the workflow.

[2017-03-17 13:18] krzyzak commented on #36
Hi Steve,

First of all, your workflow looks quite strange - you'd like to run a `GushTestSeqJob` both before and after `GushTestParallelJob` - I assume that's just for sake of an example.

Going back to the original issue, if a workflow has `ready to start` status, it means that the worker didn't pick up the job.
Please make sure that the `be gush workers` command is up&running in the same time t

[2017-03-17 13:18] #36 closed

[2017-05-25 18:56] originalpete opened #37 "Workflow#reload not mutating workflow instance"
I've found either a bug in the code, or a bug in the docs. The README says:

<img width="319" alt="screen shot 2017-05-25 at 14 53 26" src="https://cloud.githubusercontent.com/assets/42993/26465634/f1dbe3a2-4159-11e7-83ec-87e89dda5e70.png">

However, when I try calling `flow.reload`, it doesn't mutate the flow instance status. Instead, I have to run `flow.reload.status` to get an up-to-date status

[2017-06-01 07:49] pokonski commented on #37
You are right, this could be a good change. Are you willing to submit a PR for this?

[2017-06-03 15:47] kladkogex commented on #21
thanks to suggestion @pokonski
I made it like this

[code]

run workflow:
[code]

[2017-06-16 18:57] pokonski commented on #37
@originalpete this is now fixed on the `activejob` branch which will become a 1.0 version very soon. Let me know if you get a chance to test it ou!

[2017-06-16 18:57] #37 closed

[2017-06-16 19:10] pokonski commented on #34
I rechecked this case after recent changes and the maximum number of clients stops at around 33. Internally it uses more connection pooling than before for every Redis action. If you still can, are you able to recheck that with `activejob` branch?

[2017-06-16 19:11] pokonski commented on #27
Closing for inactivity

[2017-06-16 19:11] #27 closed

[2017-06-16 19:12] pokonski commented on #26
Closing since it was solved a while ago :clock1:

[2017-06-16 19:12] #26 closed

[2017-06-16 19:13] #19 closed

[2017-06-16 19:13] pokonski commented on #21
Closing since it was solved :)

[2017-06-16 19:13] #21 closed

[2017-06-16 19:14] pokonski commented on #16
Version  1.0 will have an example on how to load Rails projects correctly :)

[2017-06-16 19:14] #16 closed

[2017-06-16 19:22] pokonski commented on #6
In version 1.0 the jobs will no longer need to be inherited from Gush::Job, so stay tuned!

[2017-09-30 15:19] pokonski commented on #35
@carlthuringer _year later_ but I just pushed a change to `activejob` (will be in 1.0) branch which greatly reduces time needed to spawn hundreds or thousands of jobs. Overall should speed up execution by **a lot**.

[2017-10-09 13:38] KirillSuhodolov opened #39 "Is it possible to set different queue name for each job?"

[2017-10-09 13:41] pokonski commented on #39
Hey @KirillSuhodolov. I have this planned for the next release `1.1.0` it should be easy to do with ActiveJob since I already assign a queue for all jobs.

[2017-10-09 13:54] KirillSuhodolov commented on #39
@pokonski sounds great, do you need any help with it?

[2017-10-09 13:55] pokonski commented on #39
Definitely with testing :) So stay tuned!

[2017-10-09 13:59] KirillSuhodolov opened #40 "How can I run workflow synchronously(each job with perform_now method)?"
Need it for testing and debugging complex workflows in same runtime

[2017-10-09 13:59] KirillSuhodolov commented on #39
ok, let me know

[2017-10-09 14:01] pokonski commented on #40
Simply set the backend to one the sync backends ActiveJob provides => see the link I added in README http://guides.rubyonrails.org/v4.2/active_job_basics.html#backends

[2017-10-09 14:04] KirillSuhodolov commented on #40
and what about, some of them sync and some of them async? Not changing global settings?

[2017-10-09 14:12] pokonski commented on #40
You can set it in scope of your spec and revert to original. ActiveJob has one global configuration so it's not Gush specific.

[2017-10-09 14:14] pokonski commented on #40
In integration tests for Gush I set the adapter to `:test` https://github.com/chaps-io/gush/blob/master/spec/spec_helper.rb#L6

[2017-10-09 14:16] KirillSuhodolov opened #41 "Is it possible to describe negative behaviour"
For example, how to branching workflow and run described job if some job in workflow failed or event workflow failed?

How is it difficult to implement and have it sense?
Because just rerun failed job not that need. Usually jobs can work with third party services and that services can responded with errors.
At such case when job failed workflow should continue executing due it know how to process

[2017-10-09 14:20] pokonski commented on #41
I don't plan on handling failing jobs. The idea is simple, if job fails, the workflow won't continue.

[2017-10-09 14:26] KirillSuhodolov commented on #41
Not good idea to run other jobs or workflows inside job. Job should be independent. And workflow describe when, how and execution order.
Workflows looks similar in many parts with saga(process manager) pattern, that can process failed events.

So, I am interesting how you work with such cases, or may be just ignore them?

[2017-10-09 15:00] KirillSuhodolov opened #42 "Conditionally execution"
In continuation of the conversation at issue https://github.com/chaps-io/gush/issues/41

May be it possible to run Job only that satisfied condition. Due to in runtime, it may be not need to execute. The api can looks like:

[code]

All this questions about to adopt this gem for complex workflows, that I have in project, where they are not linear, and branching based on conditions or failures.

P.

[2017-10-10 08:39] pokonski commented on #41
Yes I ignore them. I consider jobs which fail to be workflow-stopping. It's either all or nothing.

You can use payloads to pass info if the previous job failed and act accordingly. The `OrderSuccess` and `OrderFail` don't have to be separate jobs. They can be separate services running from one job.

[2017-10-12 08:32] #40 closed

[2017-10-12 08:32] pokonski commented on #35
Closing this as 1.0.0 was released with major improvements to performance. If issue still occurs please open a new ticket.

[2017-10-12 08:32] #35 closed

[2017-10-12 08:33] pokonski commented on #34
Version 1.0.0 decreases the number of operations during processing of workflows so should improve even more. Please open a new ticket if issue still exists.

[2017-10-12 08:33] #34 closed

[2017-10-12 08:34] pokonski commented on #18
Version 1.0.0 re-raises the error so it can be retried by backend of your chosing now. Closing :)

[2017-10-20 18:50] aeris commented on #39
Hi here,

If you are interested, I made a patch for that : https://github.com/aeris/gush/commit/c9f9d9237e53452b1c2b82f509da9a5e51275d7e

[2017-10-23 08:45] pokonski commented on #39
@aeris yeah that's exactly how I want to do it :+1:

[2017-10-23 14:52] pokonski commented on #41
Closing as it's answered.

[2017-10-23 14:52] #41 closed

[2017-10-31 17:30] kmatrah commented on #26
In the example above, is it possible to use a value from `payloads` for the `numbers` of jobs ?

[2017-10-31 17:33] pokonski commented on #26
The number of jobs which will be scheduled is defined at creation time of the workflow. while payloads exist at run time. So you can't schedule jobs when they are already running.

[2017-10-31 17:53] kmatrah commented on #26
Thanks for the quick answer!

[2017-10-31 17:56] pokonski commented on #26
No problem :)

[2017-11-04 14:13] matti opened #43 "Inline execution"
[code]

Doesn't seem work - gush still uses redis

[2017-11-04 14:14] pokonski commented on #43
Yep, because Gush stores the workflow status and jobs in Redis regardless of ActiveJob adapter.

[2017-11-04 14:17] matti commented on #43
sidekiq inline feature is sooo nice for local development..

[2017-11-04 14:23] pokonski commented on #43
True, the storage could be extracted into am adapter and for testing then writing a memory adapter would be a good solution.

[2017-11-04 14:46] matti opened #44 "params cast to symbol"
[code]

--> project_id becomes a symbol, why?

[2017-11-04 14:50] pokonski commented on #44
Because they are serialized to JSON, stored in Redis and deserialized from it when job runs.

[2017-11-04 14:52] pokonski commented on #44
Happens here https://github.com/chaps-io/gush/blob/master/lib/gush/client.rb#L130. And why a symbol? Pure preference 😁

[2017-11-04 14:52] matti commented on #44
huh, if you do a similar thing with sidekiq it keeps keys as strings.

also, if you give a symbol as an argument in sidekiq, it becomes a string. so this behaviour is kinda other way around than in sidekiq.

[2017-11-04 14:53] matti commented on #44
https://github.com/chaps-io/gush/blob/master/lib/gush/client.rb#L130

principle of most surprise.

[2017-11-04 14:54] pokonski commented on #44
I don't like keys as strings, hence the preference.

[2017-11-04 14:56] matti commented on #44
That preference is really against the most popular (?) implementation of similar tool (sidekiq) - it should be atleast configurable

[2017-11-04 14:59] pokonski commented on #44
Yeah, configuration option sounds good. Would you mind preparing a PR?

[2017-11-04 15:02] matti opened #45 "Listing all workflows"
In Rails, Gush::Client.new.all_workflows explodes in params `TypeError: no implicit conversion of Symbol into Integer` (and so does `gush list`)

[code]

[2017-11-04 15:03] matti commented on #45
What's the correct usage of Gush client in Rails?

[2017-11-04 15:11] matti commented on #45
Changing opts to arguments `configure(project_id, version)` works...

[2017-11-04 15:23] pokonski commented on #45
Hmm sounds like a bug. can you paste the stack trace?

[2017-11-04 15:30] matti commented on #45
[code]

[2017-11-04 15:52] matti opened #46 "After gets called n-times"
Tried the README's example:

[code]

`SaveJob` will be invoked twice:

[code]

[2017-11-04 15:53] matti commented on #46
Same with:
[code]

[2017-11-04 15:57] matti commented on #46
actually... ...this is intended behaviour? Is there a way to call SaveJob just once?

[2017-11-04 15:58] matti commented on #46
so that both DownloadJobs would be completed before

[2017-11-04 16:00] pokonski commented on #46
It definitely should only trigger the SaveJob only once. Will reproduce and
fix, because this is a regression :(

On Nov 4, 2017 16:58, "Matti Paksula" <notifications@github.com> wrote:

[2017-11-04 16:01] matti commented on #46
Actually, I'm not sure if this behaviour is a bug - it follows the diagram nicely - each notification job triggers another job... But yes, this was the main use case for using gush for me.

[2017-11-04 16:05] pokonski commented on #46
Yeah this is unintended, it should only trigger the job if all of its
dependencies have finished successfully. So only the second check should
see that the other job finished and only then should enqueue the SaveJob. I
suspect the state is incorrectly persisted along the way.

On Nov 4, 2017 17:01, "Matti Paksula" <notifications@github.com> wrote:

[2017-11-04 16:13] matti commented on #46
clarification: yes, it's a bug - but also an interesting feature that kinda follows the diagram.

[2017-11-04 16:14] pokonski commented on #46
Ha, maybe that also needs a configuration option :D

On Nov 4, 2017 17:13, "Matti Paksula" <notifications@github.com> wrote:

[2017-11-10 11:05] scarfacedeb commented on #42
@pokonski I have a similar situation:

I have a pdf manual pipeline that looks like this:

[code]

Gush seems like a good fit for my case, but unfortunately I also need to deal with errors on every step.

e.g. if DownloadJob failed to download the manual, I'll need to break out the workflow and update the source with the given error.

The best way to deal with it would've been a conditional execut

[2017-11-10 11:07] pokonski commented on #42
Okay thanks for feedback! I'll look into that but at the same time I do not want break compatibility with older versions, so this would be most likely opt in

[2017-12-15 03:03] dmitrypol commented on #26
I am building a workflow for data import.  I have DownloadFileJob, ProcessEeachRecordJob and GenerateReportJob.  Since I do not know how many records there will be in each import I am using this pattern:
[code]
I can do `flow = ImportWorkflow.create` and `flow.start!` (kick it off via some process).  However, that will leave the Redis keys after execute.
I could do this to cleanup:
[code]
But how

[2017-12-15 15:29] pokonski commented on #26
@dmitrypol this is a good idea. I haven't considered TTL before but overall clean up is something that I think should not be automated - some users might want to leave the workflows, while others might want to remove it right after finishing.

This could potentially be an option in Gush configuration.

[2017-12-15 20:57] dmitrypol commented on #10
+1

[2017-12-16 17:01] dmitrypol opened #49 "Accessing job output inside workflow"
I have one job that downloads file and then I queue multiple jobs to process each row in the file.  How do I access the file path inside the Workflow (not descendant job) so I can loop through it?  I need to get payloads output and assign it to variable but after studying the code I do not see a solution.

[code]

Another use case is when one job performs some kind of check and the subsequent job(

[2017-12-17 16:15] dmitrypol opened #50 "Scaling to thousands of jobs in workflow"
I really like gush library and want to use it for is tasks like importing records.   The workflow will not be very complex but there will be LOTS (many thousands) of small identical jobs.  I am not sure how this library will scale.  After studying code I see that it stores ALL jobs inside workflow Redis record.  That record will get huge and serializing it to/from JSON will slow things down.

I re

[2017-12-17 16:20] dmitrypol commented on #46
I also experienced this behavior in my tests

[2017-12-18 11:09] pokonski commented on #50
You are correct in thinking the job data is not needed to be stored in full, inside the workflow. It's mostly there for easier deserialization from The Old Days.

The problem is exactly what you say it is, because Gush was never intended as something to scale huge workflows dynamically. It was meant for fixed in size, but long running workflows for data normalization.

[2017-12-18 14:26] dmitrypol commented on #50
Thanks for responding so quickly.  I understand that this would be a big change and my use case is different than what you envisioned.  I have used smater_csv and parallel.  The problem is that it still leaves all those individual record imports inside ONE job.  What if it crashes or I need to deploy code (which restarts the process)?  I personally prefer scaling out with lots of smaller jobs runn

[2017-12-18 14:30] pokonski commented on #50
True, I agree with you it would be ideal to scale on the job level even. More granularity here would help especially when retrying the workflow (a single job instead of the whole process).

[2017-12-18 14:39] pokonski commented on #49
Right now it is not possible because Workflow is defined only once, during its creation. So it has no access to the output of jobs, because they are not even executed yet :)

[2017-12-18 14:39] #49 closed

[2017-12-23 21:54] cassiopagnoncelli opened #51 "Update Redis gem"
`gush` enforces Redis < 4.0 whereas there seems no problem at all using new version `4.0`.

[2017-12-24 15:41] pokonski commented on #51
Do you mind submitting a PR? :)

[2018-01-21 12:59] erated commented on #46
Any updates about this? We have encountered this as well.

[2018-01-21 13:00] tanin commented on #46
Hi, is there any news about this bug?

[2018-01-29 14:08] jalada commented on #18
@pokonski how would you customise the retry behaviour for Sidekiq + Gush jobs?

[2018-01-31 09:57] jalada commented on #18
We solved this by injecting a `rescue_from` into the `Gush::Worker` base class:

[code]

This stops Sidekiq from retrying jobs in our Gush workflows after the workflows are marked as failed.

[2018-02-05 04:19] #51 closed

[2018-02-05 04:48] pokonski commented on #46
@erated @tanin haven't had a chance to investigate, but can you share your minimal case to reproduce, too? Will help tracking it down.

[2018-02-12 03:49] pokonski commented on #50
Just an updated: version 1.1 no longer serializes whole jobs inside workflow JSON, so they are now fully separated.

[2018-02-12 17:04] dmitrypol commented on #50
thank you very much, I will check it out shortly.

[2018-07-10 13:43] Saicheg opened #55 "Make gush handle wokflows with 1000s of jobs"
Hello!

First of all, thank you for this great library. We've using this for couple of our project and it's been really great.

Issue i am facing right now is that my workflow with 1000s of jobs is dramatically slow because of gush.  Let's put some example here:

[code]

Playing around gush i found out that after each job completed it has to visit all dependent jobs ( which is `Reduce` in our case

[2018-07-10 15:01] pokonski commented on #55
You are right that it's slow. This is a known issue because (tl;dr) Gush was never intended for such big workflows.

A possible solution would be to allow multiple backends instead of just Redis. Ideally a graph database, since it's a graph. Then knowing if node can be executed would be a single query.

[2018-07-10 15:25] Saicheg commented on #55
@pokonski yeah, i am agree that some-kind-of graph solution would be ideal

At this moment i am seeing 10x performance boost on my current solution by changing was of data is stored. Do you have a chance to review my changes? I can submit a PR if it does make sense for you.

[2018-07-10 17:05] matti commented on #46
@pokonski isnt my original example in the beginning of thia thread enough?

[2018-07-10 19:32] pokonski commented on #55
10x boost is great! But it's not clear to me how using hstores increases the performance. Is it due to batching here? https://github.com/rubyroidlabs/gush/commit/4ee1b15fa75d1c46b3ec88a7555b152795fcb17a#diff-308a36992a1fb6e30188af8277fbf453R92

[2018-07-10 20:00] pokonski commented on #46
@matti it's enough, I reproduced it in specs but seems to be related to race condition when using an async adapter for ActiveJob.

[2018-07-10 20:52] pokonski commented on #46
Alright, master now contains a fix for this issue @dmitrypol @matti @tanin. Please let me know if it helps!

This should only be an issue for a jobs finishing almost at the same time, most apparent in tests because usually the jobs are empty and execute close to each other. I added a mutex so only one of the ancestors can en-queue his descendant at any given time while others have to wait.

[2018-07-11 05:47] matti commented on #46
But atleast I didn't use ActiveJob. let's test this..

[2018-07-11 07:37] pokonski commented on #46
@matti it's not actually related to ActiveJob, it's simply caused when jobs are running in parallel and both trigger their descendant. Now I put a lock so triggering new jobs is run one at a time, solving the race condition.

[2018-07-11 16:32] #50 closed

[2018-07-16 09:17] Saicheg opened #57 "Many mutex fails after #49000a30fd34ac21cabdc7d"
Hey @pokonski !

We start seeing many mutex-failed issues after you commit #49000a30fd34ac21cabdc7d

Problem is that when you have 1000s of really fast-jobs they all start checking if final job should be
enqueued and conflicting too much.

I am thinking that you are actually wrapping wrong part with mutex, `client.enqueue_job(workflow_id, out)` feels like more right one

[code]

What do you think?

[2018-07-16 09:34] pokonski commented on #57
Hey @sucheg! You are correct, blocking should not be needed for the actual check. Do you want to submit a PR with this change?

[2018-07-16 12:10] Saicheg commented on #57
@pokonski i think we actually should increase blocking timeout ( up to 5-10 seconds ) and instead of waiting for lock - we should fail all other jobs who are trying to enter that piece.

So even in case they will pass, only 1 job will enqueue final one and other will fail.

[2018-07-18 13:04] Saicheg commented on #57
@pokonski do you have any chance to think through this?

[2018-07-18 13:05] pokonski commented on #57
Yeah quietly failing makes sense, since the job will be enqueued anyway.

[2018-08-12 21:10] devilankur18 opened #59 "Activejob callbacks not available in the Gush::Job"
The Gush::Job should be inherited by Active job, so it would be possible to extend for after/before callbacks. Is there a way to inherit from Gush::Worker and set before/after callbacks. Might make sense to merge Job/Worker classes in to one.

[2018-08-24 22:35] xtagon commented on #55
@Saicheg I am very interested in your 10x boost PR as well 👍

[2018-08-24 22:35] xtagon commented on #55
Scratch that, I didn't see that the PR was already merged! So instead let me say thank you for the PR :)

[2018-08-24 23:02] xtagon opened #60 "Long-running jobs and human job completion"
Hi,

I'm looking to use Gush to manage workflows, and it seems like a good fit, but some of my workflows involve waiting for a human person to signify that a job has been completed. For example, if one or more jobs in a workflow requires the data to be reviewed before continuing, or needs to get more information from someone before continuing.

This not really limited to "human" jobs either, the s

[2018-08-25 10:14] pokonski commented on #60
Hey!

I had a discussion about such feature but personally never needed it. Do you have a suggestion how that would work in DSL and implementation?

[2018-08-25 20:03] xtagon commented on #60
Here's an example of what I'm picturing, let me know what you think:

[code]
Looking back, this example is a little strange since there is only ONE human task in the workflow (so employee_id doesn't need to be part of the event trigger condition). But I would certainly want to be able to have more than one human task in a workflow meant for different users to complete.

[2018-10-04 01:29] xtagon commented on #60
@pokonski Is there any interest in helping me design this feature? I'm considering using Gush in a project but it would be much more useful in my scenario if I could have these kinds of long-running and human-completed tasks as part of the workflows.

Of course I am not asking that you do all the work, but if this could be useful to others, I would like to take a stab at contributing. But I would

[2018-10-04 01:30] xtagon commented on #60
The first problem I see with that approach is what happens if the long-running process is killed (server dies) mid process?

[2018-10-04 09:28] pokonski commented on #60
Hey @xtagon somehow I completely missed your responses!

If the worker process dies, then it's a general problem. It should be restarted and still continue to process/wait for input again.

While the description you provided sounds general enough, the code example does not look intuitive enough to me. I would do something like

[code]

or
[code]

[2018-10-04 16:10] xtagon commented on #60
I imagine one way to bring the architectural down to the basics would be to have a way to "pause" and "un-pause" jobs. If there was an API for me to pause a job as soon as it's triggered, and then manually un-pause it in my app's event handler, then Gush wouldn't even have to do anything special - it would just un-pause the right job and then it would continue the workflow. What do you think of th

[2018-10-04 21:14] lastobelus commented on #46
is this bug fixed then?

[2018-10-05 05:45] matti commented on #46
@pokonski ?

[2018-10-05 07:45] pokonski commented on #46
Fixed in https://github.com/chaps-io/gush/commit/49000a30fd34ac21cabdc7d2c24ffbfa3b113bb9

[2018-10-05 09:18] #46 closed

[2018-10-07 10:57] pokonski commented on #60
That is a good idea. Reminds me of how Gitlab CI handles workflows, you can mark a job as `manual` and it will only start when user clicks "Play" in the UI or via API. So yeah, that sounds good :+1:

[2018-10-07 19:01] xtagon commented on #60
In order for that to work, we'll need to be able to identify the exact job ID to "play". That's what I was thinking with the example code where the lambda method / block checks on an event condition to identify which job to unpause. Thoughts on that?

[2018-10-19 16:18] jdreic opened #61 "Jobs that eventually succeed will not queue downstream jobs"
When a job throws an exception, Gush marks it as failed and reraises the error. Job frameworks like Sidekiq retry failed jobs by default. When a job has failed but later succeeds, since Gush marked the job as failed from the first run, downstream jobs that depend on it won't run.

It would be great if there was an option to unset the failed status if a job re-runs, so that if it succeeds, the down

[2018-11-06 10:52] schorsch commented on #55
i tested this merged version and the job times stayed the same for ~1500 jobs, instead of runtimes increasing with each job. I am creating highcharts images for ~300.000 charts ranging from 1-8 secs per chart (depending on db calls, remote chart server request times). Before with v 1.1.2 the times went up to 90secs per job, making Gush pretty useless.

Btw. I know that gush was not made to handle

[2018-11-07 09:08] pokonski commented on #60
You could use the Gush's API to find jobs requiring manual start, so you can do that via some UI?

[2018-11-07 09:10] pokonski commented on #55
I do have some idea about making it way faster but this would require running a separate process, I'll definitely experiment with it first.

I developed it for quite big, but still static workflows where parts could fail often (fetching) but not block other jobs that don't depend on that particular one.

[2018-11-07 09:28] pokonski commented on #61
Hey @jdreic, thanks for the report. This sounds like a bug!

[2018-11-22 12:20] Ranjithkumar commented on #39
@pokonski Can you push this fix as a next version in rubygems?

[2018-11-22 13:02] pokonski commented on #39
@Ranjithkumar this is now released under version 2.0.0! Thanks for reminding me :)

Check out other changes here:
https://github.com/chaps-io/gush/releases/tag/v2.0.0

[2018-11-22 13:03] #39 closed

[2018-11-22 14:19] Ranjithkumar commented on #39
Thanks @pokonski

[2018-11-22 14:31] Ranjithkumar opened #62 "Gush.configure with namespace issue"
In the Gush.configure, If we add namespace XXX then sidekiq is not pulling the jobs.

If we add namespace as "gush" then its pulling the job.

[2018-11-22 14:38] pokonski commented on #62
You have to tell side which queues to use explicitly, so if you specify `xxx` as namespace/job queue you have to run sidekiq with that queue:

[code]

[2018-11-23 07:19] Ranjithkumar commented on #62
@pokonski I guess there are some confusion. Please check my attachment
![gush 2018 11 23 12 32 38](https://user-images.githubusercontent.com/116991/48931569-057d7c00-ef1d-11e8-8ee9-689c235cd9e2.png)

Gush::Client takes default namespace as '**gush**'.
For Jobs, I am using queue name as '**rans**'.
I am running sidekiq using **sidekiq -C config/sidekiq.yml** It has all the queue information. Its wo

[2018-11-23 07:37] Ranjithkumar commented on #26
@pokonski  Nesting workflow enhancement done?

[2018-11-23 07:48] Ranjithkumar commented on #62
@pokonski  Its working fine with version 2.0.0!

[2018-11-23 07:48] #62 closed

[2018-11-25 10:57] pokonski commented on #55
@xtagon @schorsch I have a WIP branch with an experimental feature using RedisGraph for dependency resolution. Its downside is it requires a custom module, but if you have time, please do check it out:

1. Install RedisGraph module
2. use Gush on `redis-graph` branch

I am super curious if it will help with your cases of huge workflows, I'll prepare benchmarks on my side, too.

[2018-11-28 14:58] Ranjithkumar opened #63 "Can we run same workflow parallelly with different arguments?"
Ex:

flow = BookWorkflow.create("http://url.com/book.pdf", "978-0470081204")
flow1 = BookWorkflow.create("http://flipcart.com", "flipcart")
flow.start!
flow1.start!

[2018-11-28 16:46] pokonski commented on #63
Yes, you can. They are completely independent.

[2018-11-28 16:46] #63 closed

[2018-12-07 10:20] schorsch commented on #55
GREAT!
I ran test with a couple of thousands items and chained two other jobs after the main payload (create 5k imgages => run png_optimizer => clean upload cache folder).
No problems with the jobs runtimes, which stay the same for the whole run.

Two things to mention:

When reloading and getting the status of a running job i get an error: flow.reload & flow.status

At the end of the run i seem t

[2018-12-13 14:01] pokonski commented on #55
Thanks for testing this @schorsch! I'll have a look at why they are executed multiple times, can you provide the workflow you have used? Just the workflow definition will do :)

[2018-12-13 16:45] schorsch commented on #55
[code]

The called jobs all descend from Gush::Job, expect their params as string and are pretty small in terms of loc.

Btw. I am visualizing german health-care data, here is an example of a public view, where you can see some of the generated chart images https://app.reimbursement.info/icds/F10

[2019-01-17 12:03] lefterisnik opened #64 "bundle exec viz workflow with parameters"
How can I run `viz` for a workflow with parameters?

When I try to run `viz` I am getting:
[code]

My workflow is:
[code]

[2019-01-18 02:53] pokonski commented on #64
Hey, this is not currently possible from the command line.

To do it the command would have to accept parameters as JSON, the same way actual workflows get it.

[2019-01-18 13:54] lefterisnik commented on #64
Thanks @pokonski  for your answer. Could you provide an example?

[2019-01-18 15:04] pokonski commented on #64
You could do it manually inside your app via:

[code]

[2019-01-18 15:22] lefterisnik commented on #64
Thanks @pokonski

[2019-01-18 15:22] #64 closed

[2019-02-08 13:12] linkyndy opened #65 "Shortcircuit workflows"
Let's say we have the following, simple, workflow:

[code]

And Job A checks for a value, which if `false`, the whole workflow should be stopped immediately. Is this possible at the moment with Gush?

As an example, let's say we process a new user signup with the above workflow. Job A retrieves the newest user from the database. If the user has been already processed, we'd like to call the workflo

[2019-02-08 13:13] pokonski commented on #60
Closing due to inactivity :timer_clock:

[2019-02-08 13:13] #60 closed

[2019-02-08 13:14] pokonski commented on #65
Hey @linkyndy! Currently it's not possible but there was a suggestion about branching workflows in run time depending on their result, but I haven't had much time tinker with a solution for it

[2019-02-08 13:16] linkyndy commented on #65
Thanks for your fast answer! Curious to see how this will develop.

[2019-03-11 16:05] theo-delaune-argus commented on #61
Hi,

The problem occurs in the job parameters.
If job first launch failed, it set `@failed_at = time of fail`.
But when job is replayed, `@failed_at` is not resetted to nil.

it you take look at https://github.com/chaps-io/gush/blob/master/lib/gush/worker.rb#L73, when children jobs are enqueued, it checks if parent has succeeded.
Since the parent job still had the `@failed_at` non-nil, the childre

[2019-03-11 17:24] mickael-palma-argus commented on #61
Hi,

I prefer using refinements 😄

[code]

[2019-03-12 07:52] pokonski commented on #61
Hey guys! Thank you for finding the culprit! Will release a fix ASAP!

[2019-03-12 10:21] #61 closed

[2019-03-12 10:22] pokonski commented on #61
@mickael-palma-argus @theo-delaune-argus @jdreic this is now released as `2.0.1`, thanks again for the report and help with identifying the issue <3

[2019-03-12 10:27] mickael-palma-argus commented on #61
You rock 👍
Great specs BTW 😃

[2019-05-10 16:41] ace-subido commented on #65
@linkyndy have also used Gush and worked around that scenario you've just mentioned. After snooping around `gush/job.rb` I just call `self.fail!`. Example:

[code]

This marks the job as `failed` with a `failed_at`.

[2019-05-14 03:53] ace-subido commented on #65
Hi @linkyndy I've just reimplemented something along those lines, this is how I went about it:

[code]

However this marks the `flow.status` as `:failed`. But it doesn't run the `SecondJob` once I call `self.fail`. I found this after snooping around the source.

@pokonski is this how fail could be used? I could put this in the README if you like, would be glad to contribute a PR! 😄

[2019-05-14 06:31] pokonski commented on #65
I don't think this can be used, because `fail!` will stop the whole workflow :thinking:

[2019-05-14 06:41] ace-subido commented on #65
Yep! That's what I was aiming to achieve 😄the subsequent actions would be skipped, I think based on @linkyndy said:

I figured, that's what he/she is also aiming for.

What would this look like? Could I take a stab at this (pseudo-code, how it would look like)? I'll think up of something later today, some sort of proposal.

[2019-05-14 06:42] pokonski commented on #65
One of the good examples had an idea to allow providing two paths, like so:

[code]

[2019-05-14 08:23] linkyndy commented on #65
@ace-subido Marking the whole workflow as failed may be too harsh; @pokonski Indeed, it's not really clear from the DSL 😊

[2019-05-14 10:12] pokonski commented on #65
But coming back to the problem from the original issue by @linkyndy, one way would be to introduce a `skipped` state in jobs. Similar to how Gitlab CI works. I would be fine with accepting such resolution

[2019-05-14 12:39] ace-subido commented on #65
@pokonski so something like this:

[code]

We could also do something like `skip_remaining!` which skips all of the other jobs too, marking the entire workflow as `:skipped`.

[code]

@pokonski What do you think?

[2019-05-14 12:40] pokonski commented on #65
Yeah this sounds good! One clarification here:

I assume you mean skip all the jobs that were supposed to run after the job `skip_remaining!` is called from, right?

[2019-05-14 12:44] ace-subido commented on #65
Yeah, probably cascade throughout `job.outgoing` in `Gush::Worker#enqueue_outgoing_jobs` and all it's descendants.

[2019-06-02 08:57] linkyndy commented on #65
I don't really see any value in this `job.skip!`. If I want to "skip" the current job and go to the next one, I can simply `return`.

My initial question was related to cancelling the entire workflow from that moment on, and dealing somehow with the remaining jobs.

[2019-06-02 09:26] chrisvel opened #67 "Cannot assign requested address - connect(2) for [::1]:6379"
I added Gush in a Rails app along with Sidekiq.

I have added the Gushfile and the 'gush' queue to the sidekiq.yml. When I try to start a workflow I am getting strange Redis errors:

[code]

I know I am missing something but what?

[2019-06-02 09:26] pokonski commented on #67
Looks like your app can't connect to Redis, did you configure it?

[2019-06-02 09:28] chrisvel commented on #67
This is an app I've been working successfully for months. Something changed with the installation of the gem and I can't figure out what. I need to mention that I am using Rails/Sidekiq/Postgres/Redis in docker containers with docker-compose.

[2019-06-02 09:30] pokonski commented on #67
Did you update the gem? What version are you using? I can't really help with fixing bugs in your own app that is unrelated to the gem. How do you configure Redis? It seems it tries to use ipv6, is it expected?

[2019-06-02 09:56] chrisvel commented on #67
In Sidekiq `config.redis = { url: (ENV["REDIS_URL"] || 'redis://localhost:6379/1') }` and in docker-compose `REDIS_URL: 'redis://redis:6379/1'`. The thing is that If I uninstall the gem, sidekiq jobs function just fine.

[2019-06-02 09:57] pokonski commented on #67
What does your gushfile look like?

[2019-06-02 09:58] chrisvel commented on #67
[code]

[2019-06-02 09:59] pokonski commented on #67
This is incorrect, the config.autoload_paths does not go into Gushfile, please check this section again carefully: https://github.com/chaps-io/gush#ruby-on-rails

[2019-06-02 10:04] chrisvel commented on #67
That was a foolish thing to do :(
Restarted the rails server but I don't see any change. I guess the Gushfile has to go in the Rails root along with the Gemfile etc.

[2019-06-02 10:07] pokonski commented on #67
Alright, so please try configuring redis url directly for Gush like described here:

https://github.com/chaps-io/gush#cleaning-up-afterwards

(basically, create a new initializer with:

[code]

[2019-06-02 10:10] chrisvel commented on #67
It works. I see you hardcoded the redis hostname to localhost ?

[2019-06-02 10:11] pokonski commented on #67
The `ENV["REDIS_URL"] || 'redis://localhost:6379/1'` comes from your snippet above. But yeah localhost is a fallback if you don't provide your own.

https://github.com/chaps-io/gush/blob/master/lib/gush/configuration.rb#L12

[2019-06-02 10:21] chrisvel commented on #67
I haven't read the cleanup section to be honest. We may update the readme with adding the initialiser to the top If you agree. Thanks for helping.

[2019-06-02 10:21] #67 closed

[2019-06-02 10:29] ace-subido commented on #65
If that's the case, I'll add more to the PR. Something like: `skip_remaining!`

[2019-06-26 20:03] patryn20 commented on #57
I was able to fix this by setting the block to 0 and rescuing it. I found that since the jobs that couldn't get the mutex lock don't enqueue anything, the one that did acquire the lock ran and enqueued or skipped as appropriate.

However I did notice that in my case this only occurs on the first batch of jobs run on a Sidekiq server and only if they finish too closely to each other. Subsequent job

[2019-08-29 15:50] anirbanmu opened #68 "Overlapping workflows"
I am confused about this section of the README: https://github.com/chaps-io/gush#avoid-overlapping-workflows

Can someone please explain why I should "avoid starting the next scheduled workflow iteration while the current one with same class is still running."? What I'm looking into using gush for explicitly would require having multiple iterations of the same workflow (albeit with different param

[2019-09-18 01:24] rajaravivarma-r commented on #65
This particular feature looks very useful for an application we are developing. I would rather be very explicit and name the methods as `skip_workflow!` for skipping the whole workflow and `skip_descendants!` for skipping the jobs which should run after the current job.

[2019-09-30 15:37] anirbanmu commented on #57
Was a resolution reached here on what the proper fix is?

[2019-10-04 10:36] rajaravivarma-r commented on #64
@lefterisnik I encountered the same problem and I just set a default argument temporarily for it to work. Though, it would be useful for someone.
[code]

[2019-10-10 03:36] suonlight commented on #57
Can anyone help me to review my PR?

[2020-03-17 10:04] jatindhankhar opened #77 "Update Gem on RubyGems"
The recent commit (https://github.com/chaps-io/gush/commit/609f19d47042a37c33d21997d1cde8947ab021c0) bumped the activejob dependency which allows it to work with rails 6+.

However this commit is not present on the latest gem available RubyGems.
 This throws dependency issue with activejob while using the gem directly from rubygems.

`gem 'gush', '~> 2.0', '>= 2.0.1'`

Workaround is to specify the

[2020-08-18 19:36] katzj commented on #77
Any chance of getting an updated gem pushed here?

[2020-09-14 18:23] kbarrette commented on #77
@pokonski any news on a release for this?

[2020-10-09 15:02] ivobenedito commented on #26
Is there any news about supporting nested workflows? This would be super helpful for our project.

[2020-10-14 01:33] kzkn opened #82 "Project status"
Hi maintainers , I've noticed this project and found it extremely useful, but also noticed there haven't been any new releases since March last year and no commits since February.

So it got me wondering whether including it in new project is a sensible idea:

-    Is this project being actively maintained?
-    Is there plan to continue to maintain this project in the future?
-    Is there a road

[2021-03-08 18:17] mollerhoj commented on #82
Hi, just found this. I need the features, but wondering the same thing. Does anyone know of alternative gems?😊

[2021-06-23 21:11] MiguelCorti opened #86 "Can I create a dynamic workflow based on job's output?"
Hey! Not actually an issue, more of a question really.

So the question is: can I run a job only if it meets a condition based on the output of a previous job (inside the workflow)? It sounds a bit too dynamic to me hahah.

I'm thinking something among the lines of:
[code]
Although it does not seem doable this way, as the workflow probably won't have the output at that point in time. Maybe somethi

[2021-11-19 20:39] joshRpowell commented on #82
this was recently presented at RubyConf 2021 https://github.com/fractaledmind/acidic_job

[2021-11-22 14:45] mollerhoj commented on #82
@joshRpowell Do you know if that talk available anywhere? Will it be made available?

[2022-03-10 11:26] pokonski commented on #86
You probably found an answer but Gush wasn't meant fo create dynamic workflows. So the answer is no :)

[2022-03-10 11:26] #86 closed

[2022-03-10 11:26] #6 closed

[2022-03-10 11:27] pokonski commented on #6
Closing due to inactivity and general change of direction since my comment

[2022-03-10 11:28] pokonski commented on #82
If anyone feels like being a maintainer and has ideas about further improvements, let me know!

[2022-03-10 11:31] pokonski commented on #77
2.0.2 is released, apologies for the massive delay!

[2022-03-10 11:31] #77 closed

[2022-03-10 11:33] #44 closed

[2022-03-10 12:54] pokonski commented on #43
Closing due to inactivity, as it's quite a lot of work and no one else expressed the need for it

[2022-03-10 12:54] #43 closed

[2022-03-10 12:54] pokonski commented on #57
PR was merged back then so I am closing it this issue :)

[2022-03-10 12:54] #57 closed

[2022-05-15 13:00] shaul75 opened #91 "Project Idea - Web UI"
One of the difficulties we face when running complex workflows is monitoring them in real-time, seeing the whole picture per specific executions and/or investigating what went wrong.

These are some of my thoughts on the capabilities:
- List all workflow executions in a table with timestamps and a status
- Monitor individual execution:
   - Interactive graph with colors indicating job statuses (re

[2022-08-18 05:38] shuheix opened #92 "cannot create workflow instance"
Hi, I try to create workflow instance at rails console, but i cant

its never ends
![image](https://user-images.githubusercontent.com/68313834/185301626-e7a96402-2ceb-4b76-9304-6ee8de342521.png)

gush 2.0.1
[code]
[code]
[code]
[code]
sorry, what should I check?

[2022-09-16 12:53] joshRpowell commented on #82
@pokonski there is a lot of activity in the network https://github.com/chaps-io/gush/network

We're in the process of upgrading to Rails 7 and need to make some additional changes.

Would love to volunteer to be added as a maintainer and collaborate with others to move the project forward.

cc: @kzkn @shaul75 @pushtech @manhcuongdtbk

[2022-09-19 06:58] pokonski commented on #82
Hey, Josh! Thank you for the very kind offer, I'm not opposed to it :)

I will try to be more pro-active now with reviewing your contributions so please keep them going! If that works out I think we can move forward with giving write permissions and later possibly publishing permissions on Rubygems

PS. I had messed up Github notifications settings months ago, that's why I missed so much of activi

[2022-09-19 07:21] pokonski commented on #82
New version 2.1.0 is out with Rails 7.0 support! Thanks again for the help to everyone involved :boom:

[2022-09-19 09:59] pokonski commented on #55
Please see the discussion I started about potential way to improve the bottlenecks mentioned here: https://github.com/chaps-io/gush/discussions/95

[2022-09-20 09:10] pokonski commented on #92
Creating workflows requires working Redis connection, it seems it is not properly working for you. Check if Redis is running and you can connect to it from your app, first.

[2022-09-20 09:10] pokonski commented on #91
There is one but it is admittedly very old https://github.com/chaps-io/gush-control

[2022-09-20 09:10] #91 closed

[2022-09-20 09:13] pokonski commented on #68
This is a suggestion, not something Gush prevents. It's a snippet you can implement if you only want one workflow of the same type to run

[2022-09-20 09:13] #68 closed

[2022-09-30 05:17] shuheix commented on #92
thanks you for your answer
I try to check redis connection

[2022-09-30 05:17] #92 closed

[2022-10-03 18:02] csaunders-humi opened #97 "Dead Link to "Parallelizing Operations With Dependencies" by Stephen Toub"
I don't want to do a drive-by pull request for something so small. I did a search and it takes me to this article which seems to be where Microsoft has archived this article.

https://learn.microsoft.com/en-us/archive/msdn-magazine/2009/april/parallelizing-operations-with-dependencies

If the above article is correct, the link [on this line of the README](https://github.com/chaps-io/gush/blob/15c9

[2022-10-31 04:57] kzkn commented on #82
I am happy to see that maintenance of this library has resumed :grinning: I close this issue. Thanks for maintainers!

[2022-10-31 04:57] #82 closed